﻿@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid" style="padding-top:2em;">
    <h1 class="text-center" style="font-family: 'Open Sans', sans-serif; color:#094067;">
        Sistemas de Bombeo
    </h1>
    <br />
    <h1 class="text-center" style="font-family: 'Open Sans', sans-serif; color:#094067;">
        Arcor S.A.
    </h1>
</div>
<div class="container" style="padding-top:3em;">
    <div class="row">
        <div class="col-6 text-wrap">
            <p class="text-center">
                Somos una empresa costarricense con más de 25 años de experiencia en la venta, asesoría e instalación de todo tipo de bombas para agua en todo el pais.
            </p>
        </div>
        <div class="col-6 text-wrap">
            <p class="text-center">
                Nuestro objetivo principal es brindar soluciones eficientes y eficaces a todos nuestros clientes respecto al manejo del agua, porque somos conscientes de que el agua es una necesidad básica. También brindamos soluciones en el manejo de otros fluidos.
            </p>
        </div>
    </div>
</div>
<div class="container" style="padding-top:3em;">
    <div class="row">
        <div class="col-12" id="Servicios">
            <h3 class="text-center" style="font-family: 'Open Sans', sans-serif; color:#094067;">
                Servicios
            </h3>
        </div>
    </div>
    <div class="row" style="padding-top:1em">
        <div class="col-4 text-wrap">
            <p class="text-center">
                Bombas para agua
            </p>
        </div>
        <div class="col-4 text-wrap">
            <p class="text-center">
                Accesorios
            </p>
        </div>
        <div class="col-4 text-wrap">
            <p class="text-center">
                Sistemas Hidroneumáticos
            </p>
        </div>
    </div>
    <div class="row" style="padding-top:1em;">
        <div class="col-6 text-wrap">
            <p class="text-center">
                Equipos y accesorios para piscinas
            </p>
        </div>
        <div class="col-6 text-wrap">
            <p class="text-center">
                Bombas para achique, aguas residuales y aguas negras
            </p>
        </div>
    </div>
    <div class="row" style="padding-top:1em;">
        <div class="col-4 text-wrap">
            <p class="text-center">
                Sistemas de presión constante
            </p>
        </div>
        <div class="col-4 text-wrap">
            <p class="text-center">
                Panel de protección y control
            </p>
        </div>
        <div class="col-4 text-wrap">
            <p class="text-center">
                Bombas para prozos profundos
            </p>
        </div>
    </div>
</div>
<div class="container-fluid justify-content-center" style="padding-top:3em; margin:auto!important;">
    <div class="row">
        <div class="col-12">
            <h3 class="text-center" style="font-family: 'Open Sans', sans-serif; color:#094067;" id="Productos">
                Productos
            </h3>
        </div>
    </div>
    <div class="row row row-cols-1 row-cols-md-3" style="padding-top:2em;">
        <div class="col-4" style="padding-top:2em;">
            <div class="card text-center mx-auto index-card">
                <img src="~/Img/1.png" class="card-img-top p-2" alt="Alternate Text" />
                <div class="card-body">
                    <div class="card-title text-center" style="color:#094067; font-family: 'Open Sans', sans-serif;">
                        Bombas para Aguas Negras
                    </div>
                    <a href="@Url.Action("Index", "Product")" class="btn btn-light">Ver mas</a>
                </div>
            </div>
        </div>
        <div class="col-4" style="padding-top:2em;">
            <div class="card mx-auto  text-center" style="width:18rem; background-color:#3DA9FC; border-radius:21px!important;">
                <img src="~/Img/2.png" class="card-img-top p-2" alt="Alternate Text" />
                <div class="card-body">
                    <div class="card-title text-center" style="color:#094067; font-family: 'Open Sans', sans-serif;">
                        Bombas para Jacuzzi
                    </div>
                    <a href="@Url.Action("Index", "Product")" class="btn btn-light">Ver mas</a>
                </div>
            </div>
        </div>
        <div class="col-4" style="padding-top:2em;">
            <div class="card mx-auto text-center" style="width:18rem; background-color:#3DA9FC; border-radius:21px!important;">
                <img src="~/Img/3.png" class="card-img-top p-2" alt="Alternate Text" />
                <div class="card-body">
                    <div class="card-title text-center" style="color:#094067; font-family: 'Open Sans', sans-serif;">
                        Bombas para Riego
                    </div>
                    <a href="@Url.Action("Index", "Product")" class="btn btn-light">Ver mas</a>
                </div>
            </div>
        </div>
        <div class="col-4" style="padding-top:2em;">
            <div class="card mx-auto text-center" style="width:18rem; background-color:#3DA9FC; border-radius:21px!important;">
                <img src="~/Img/4.png" class="card-img-top p-2" alt="Alternate Text" />
                <div class="card-body">
                    <div class="card-title text-center" style="color:#094067; font-family: 'Open Sans', sans-serif;">
                        Bombas y Accesorios para Piscina
                    </div>
                    <a href="@Url.Action("Index", "Product")" class="btn btn-light">Ver mas</a>
                </div>
            </div>
        </div>
        <div class="col-4" style="padding-top:2em;">
            <div class="card mx-auto text-center" style="width:18rem; background-color:#3DA9FC; border-radius:21px!important;">
                <img src="~/Img/5.png" class="card-img-top p-2" alt="Alternate Text" />
                <div class="card-body">
                    <div class="card-title text-center" style="color:#094067; font-family: 'Open Sans', sans-serif;">
                        Bombas y Motores Sumergibles para pozos
                    </div>
                    <a href="@Url.Action("Index", "Product")" class="btn btn-light">Ver mas</a>
                </div>
            </div>
        </div>
        <div class="col-4" style="padding-top:2em;">
            <div class="card mx-auto text-center" style="width:18rem; background-color:#3DA9FC; border-radius:21px!important;">
                <img src="~/Img/6.png" class="card-img-top p-2" alt="Alternate Text" />
                <div class="card-body">
                    <div class="card-title text-center" style="color:#094067; font-family: 'Open Sans', sans-serif;">
                        Dosificadoras de cloro para piscinas
                    </div>
                    <a href="@Url.Action("Index", "Product")" class="btn btn-light">Ver mas</a>
                </div>
            </div>
        </div>
        <div class="col-4" style="padding-top:2em;">
            <div class="card mx-auto text-center" style="width:18rem; background-color:#3DA9FC; border-radius:21px!important;">
                <img src="~/Img/7.png" class="card-img-top p-2" alt="Alternate Text" />
                <div class="card-body">
                    <div class="card-title text-center" style="color:#094067; font-family: 'Open Sans', sans-serif;">
                        Sistemas de presion constante
                    </div>
                    <a href="@Url.Action("Index", "Product")" class="btn btn-light">Ver mas</a>
                </div>
            </div>
        </div>
        <div class="col-4" style="padding-top:2em;">
            <div class="card mx-auto text-center" style="width:18rem; background-color:#3DA9FC; border-radius:21px!important;">
                <img src="~/Img/8.png" class="card-img-top p-2" alt="Alternate Text" />
                <div class="card-body">
                    <div class="card-title text-center" style="color:#094067; font-family: 'Open Sans', sans-serif;">
                        Sistemas Hidroneumaticos
                    </div>
                    <a href="@Url.Action("Index", "Product")" class="btn btn-light">Ver mas</a>
                </div>
            </div>
        </div>
        <div class="col-4" style="padding-top:2em;">
            <div class="card mx-auto text-center" style="width:18rem; background-color:#3DA9FC; border-radius:21px!important;">
                <img src="~/Img/9.png" class="card-img-top p-2" alt="Alternate Text" />
                <div class="card-body">
                    <div class="card-title text-center" style="color:#094067; font-family: 'Open Sans', sans-serif;">
                        Tanques de Almacenamiento
                    </div>
                    <a href="@Url.Action("Index", "Product")" class="btn btn-light">Ver mas</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 justify-content-center" style="padding-top:2em;">
        <div class="col-4" style="padding-top:2em;">
            <div class="card mx-auto text-center" style="width:18rem; background-color:#3DA9FC; border-radius:21px!important;">
                <img src="~/Img/10.png" class="card-img-top p-2" alt="Alternate Text" />
                <div class="card-body">
                    <div class="card-title text-center" style="color:#094067; font-family: 'Open Sans', sans-serif;">
                        Tanques hidroneumaticos
                    </div>
                    <a href="@Url.Action("Index", "Product")" class="btn btn-light">Ver mas</a>
                </div>
            </div>
        </div>
        <div class="col-4" style="padding-top:2em;">
            <div class="card mx-auto text-center" style="width:18rem; background-color:#3DA9FC; border-radius:21px!important;">
                <img src="~/Img/11.png" class="card-img-top p-2" alt="Alternate Text" />
                <div class="card-body">
                    <div class="card-title text-center" style="color:#094067; font-family: 'Open Sans', sans-serif;">
                        Variadores de velocidad
                    </div>
                    <a href="@Url.Action("Index", "Product")" class="btn btn-light">Ver mas</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" style="padding-top:3em;">
    <div class="row">
        <div class="col-12" id="Contacto">
            <h3 class="text-center" style="font-family: 'Open Sans', sans-serif; color:#094067;">
                Contacto
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-6 text-center navTitles">
            <h4>
                ¡ADQUIERA YA NUESTROS SERVICIOS !
            </h4>
            <h5>
                Teléfono
            </h5>
            <p>
                (506) 2278-1530
            </p>
            <p>
                (506) 2279-1640
            </p>
            <h5>
                Ubicación
            </h5>
            <p>
                200 metros Oeste del Cementerio de Tres Ríos. En los locales ubicados abajo del Bar - Restaurante Taller del Artista Tres Ríos, Cartago, Costa Rica
            </p>
            <h5>
                Horario
            </h5>
            <p>
                De lunes a viernes: 8:00AM a 12:00MD y de 1:30PM a 5:00PM
            </p>
            <h5>
                Correo Electrónico
            </h5>
            <p>
                ventas@bombasarcorsa.com
            </p>
        </div>
        <div class="col-6">
            <div class="card" style="width:100%; background-color:#3DA9FC; border-radius:21px!important;">
                <div class="card-body">
                    <h5 class="card-title text-center " style="color:#094067; font-family: 'Open Sans', sans-serif;">Contactenos</h5>
                    <form action="/" method="post">
                        <div class="mb-3">
                            <label for="inputNombre" class="form-label">Nombre</label>
                            <input type="text" class="form-control" id="nombreU" />
                        </div>
                        <div class="mb-3">
                            <label for="inputTelefono" class="form-label">Telefono</label>
                            <input type="text" class="form-control" id="telefonoU" />
                        </div>
                        <div class="mb-3">
                            <label for="inputCorreo" class="form-label">Correo Electronico</label>
                            <input type="email" class="form-control" id="correoU" aria-describedby="emailHelp" />
                            <div id="emailHelp" class="form-text">
                                Este correo Electronico nunca sera compartido
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="inputMensaje" class="form-label">Mensaje</label>
                            <textarea class="form-control" id="taMensaje" rows="5"></textarea>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>